.infoCard{
  width: 100%;
  display: flex;
  flex-direction: column;
  /* background-color: aqua; */
  background-color: #ffffff;
  padding:  1vh 1vw;
  border-radius: 1.5vh;
} 

.infoCardLong{
  justify-content: flex-end;
}

.infoCardTitle{
  font-size:2.4vh;
  font-weight: 600;
  text-transform: uppercase;
  color: #121212;
  padding-left: 0.8vw;
  padding-top: 1.6vh;
  padding-bottom: 1vh;
}

.infoCardTitle1{
  padding-top: 0.5vh;
  font-size: 2vh;
}

.innerInfoCard{
  background-color: #ffffff;
  padding: 1% 1%;
  padding-right: 1.5%;
  width: 97.5%;
  display: flex;
  align-items: flex-end;
  justify-content: space-between;
  border-radius: 1vh;
  box-shadow: 0px 0px 10px 5px rgba(0, 0, 0, 0.05);
  height: 42%;
  margin-top: 0.5%;
}

.innerInfoCardBelow{
  margin-top: 0.8vh;
}

.innerInfoCard2{
padding: 1.5vh 0.8vw;
}

.innerInfoCard3{
  padding: 1vh;
  height: 5.2vh !important;
}

.innerInfoCard4{
  height: 28% !important;
  width: 95% !important;
}

.innerInfoCard6{
  height: 28% !important;
  width: 92.5% !important;
  margin-top: 2%;
}

.innerInfoCardLong{
  height: 20% !important;
}

.innerInfoCard{
  height: 35%;
}

.infoImageContainer{
  background-color: #69C28F;
  padding: 0.5%;
  border-radius: 0.8vh;
  height: 92%;
  width: 2.5vw;
  display: flex;
  justify-content: center;
}

.infoImageContainer2{
  width: 3vw;
  height: 90%;
  padding-top: 1.5%;
}

.infoImageContainer3{
  height: 78%;
  width: 3.2vw;
  margin-left: 0.4vw;
}

.infoImageContainer4{
  height: 92%;
  /* width: 2rem; */
  padding-top: 2%;
}

.infoImageContainer6{
  height: 83%;
  padding-top: 4%;
}

.infoImageBadContainer{
  background-color: #E96868;
}

.infoImageModerateContainer{
  background-color: #F8D457;
  
}


.logoImage {
  height: 3.8vh;
  margin-top: 0.5vh;
}

.innerInfoCard3 .logoImage{
  height: 3vh;
  margin-top: 0.4vh;
}

.infoTitle{
  color: #212121;
  text-transform: uppercase;
  width:95%;
 height: 98%;
 padding-bottom: 2vh;
 display: flex;
 flex-direction: column;
 justify-content: space-between;
}

.infoTitle2{
width: 90%;
height: 98%;
padding-bottom: 1vh;
}

.infoTitle3{
  width: 88% ;
  }

.infoTitle4{
width: 83%;

}

.infoTitle6{
width:77%
}

.infoTitle div{
 font-size: 2.6vh;
 color: #121212;
 font-weight: 400;
 padding-top: 2vh;
}

.infoTitle3 div{
  font-size: 1.6vh;
  padding-top: 0.9vh;
}

.infoTitle6 div{
  font-size: 1.45vh;
  padding-top: 0.2rem;
}

.infoTitle span{
  display: flex;
  font-size: 2.4vh;
  font-weight: 600;
  justify-content: baseline;
  width: 100%;
  align-items: baseline;
 }

 .infoTitle span div{
  font-size: 3.4vh;
  font-family: AvenirLT-Black;
 width: 50%;
 }

 .infoTitle3 span div{
  font-size: 2.7vh;
  padding-top: 0;
 }

 .infoTitle6 span div{
  font-size: 2.6vh;
 }

.infoValue{
  font-size: 3.4vh !important;
  color: #121212;
  font-weight: 400 !important;
  width: 50%;
  text-align: right;
  text-transform: lowercase;
  padding-right: 1vw;
}

.infoTitle2 .infoValue{
  font-size: 2.5vh !important;
 
 }

 .infoTitle3 .infoValue{
  font-size: 2vh !important;
 
 }

 
.infoTitle6 .infoValue{
  font-size: 1.7vh !important;
 
 }

.childContainer1{
  display: flex;
  width: 100%;
  height: 25vh;
}

