
.infoCard{
  background-color: #ffffff;
  padding: 2% 2%;
  width: 100%;
  display: flex;
  align-items: flex-end;
  justify-content: space-between;
  border-radius: 1.5vh;
} 

.infoCard2{
padding: 3vh;
}


.infoImageContainer{
  background-color: #69C28F;
  padding: 0.5vh;
  border-radius: 1vh;
  height: 94%;
  width: 5.5vw;
  display: flex;
  justify-content: center;

}

.infoImageContainer2{
  width: 4.5vw;
}

.infoImageContainer3{
  width: 3.5vw;
}

/* long  */
.infoImage3{
  height: 98.5%;
}

.infoImageBadContainer{
  background-color: #E96868;
}

.infoImageModerateContainer{
  background-color: #F4B465;
}

.logoImage {
  height: 6vh;
  margin-top: 12%;
}

.infoImageContainer3 .logoImage{
  height: 4.6vh;
}

.infoTitle{
  color: #212121;
  text-transform: uppercase;
  width:91%;
  
}

.infoTitle2{
  width:81%; 
  padding-bottom: 0.5vh;
}

.infoTitle3{
  width:86%; 
  padding-bottom: 0vh;
}

.infoTitle4{
  width:69%; 
}

.infoTitle6{
  width: 56%;
}

.infoTitle div{
 padding-bottom:0.9%;
 font-size: 2.5vh;
 color: #121212;

}

.infoTitleLong div:first-child{
  padding-bottom: 1.4% !important;
}

.infoTitle2 div{
  padding-bottom:2.4%;
  font-size: 2.6vh;
 }

 .infoTitle3 div{
  padding-top: 2%;
  padding-bottom:0.4%;
  font-size: 1.8vh;
 }


 .infoTitle4 div{
  font-size: 0.8rem;
  padding-bottom: 24%;
 }

 .infoTitle6 div{
  font-size: 2vh;
  padding-bottom: 42%;
 }

.infoTitle span{
  font-size: 2.4vh;
  text-transform: lowercase;
 }

 .infoTitle3 span{
  font-size: 1.8vh;

 }

 .infoTitle4 span{
  font-size: 2vh;
 }


.infoValue{
  font-size: 5.5vh !important;
  color: #121212;
  padding-right: 2vw;
  text-transform: uppercase;
  text-align: left;
  padding-top: 2vh;
}
 
.infoValue2{
  padding-right: 0vw !important;
  font-size: 5vh !important;
  text-align: left;
}

.infoTitle3 .infoValue {
  font-size: 3.7vh !important;
}

.infoTitle4 .infoValue,.infoTitle6 .infoValue{
  font-size: 3.4vh !important;
  padding-bottom: 0vh !important;
}


