.mainContainer {
  display: flex;
  padding-top: 0.4vh;
  padding-bottom: 1vh;
  justify-content: space-between;
  text-transform: uppercase;
}

.logoContainer {
  display: flex;
  align-items: center;
}

.logoImage1 {
  height: 4.6vh;
}

.logoImage2 {
  margin-left: 2vw;
  font-size: 3.7vh;
  color: #ffffff;
  text-transform: uppercase;
   /* font-family: AvenirLT-Light; */
  font-weight: AvenirLT-Medium; 
  
}

.imageSeperatorBorder {
  border: 2px solid #ffffff;
  background-color: #ffffff;
  height: 4vh;
  margin-left: 2vw;
}

.infoContainer {
  display: flex;
  align-items: center;
  font-size: 2.6vh;
  color: rgb(255, 255, 255);
  padding-left: 1vw;
  background: rgba(47, 109, 100, 0.8);
  box-shadow: 0px 0px 20px 10px rgba(0, 0, 0, 0.05);
  border-radius: 1.5vh;
  width: 44vw;
  height: 8vh;
  /* font-family: AvenirLT-Light; */
}

.infoContainer span{
  padding: 0vw 1vw;
}

.infoContainer span:first-child{
  border-right: 1.5px solid white;
}

