.mainContainer {
  width: 100%;
  display: flex;
  justify-content: space-between;
  margin: 1vh;
}


.column1,.column2,.column3,.column4{
  display: flex;
  width: 100%;
}

.column12{
justify-content: space-between;
}

.column13{
  width: 49.25%;
  flex-direction: column;
  justify-content: space-between;
  height: 43vh;
}

.column14{
  width: 32%;
}

.column16{
  width: 24%;
}

.childContainer1,.childContainer2,.childContainer3,.childContainer4{
  display: flex;
  width: 100%;
  height: 36.5vh;
}

.childContainer12{
  width: 49.5%;

}

.childContainer13{
  height: 21vh;
  
}
.childContainer14{
  height: 20vh;
  
}

.column2{
  width: 49.5%;
  height: 22.5vh;
}

.column21{
  width: 32.5%;
  
}

.column24{
  width: 24%;
}

.column28{
  flex-direction: column;
  justify-content: space-between;
  height: 35.6vh;
}

.childContainer2{
  height: 43vh;
}

.column3{
  width: 32.5%;
  height: 43vh;
}

.column34{
  width: 24%;
}

.column32{
  flex-direction: column;
  justify-content: space-between;
}

.childContainer3{
  height: 50vh;
}

.childContainer32{
  height: 20.5vh;
}

.column4{
  width: 24%;
}

.column42{
  height: 35.6vh;
}


.childContainer4{
  height: 43vh;
}


.childContainer42,.childContainer28{
  height: 16vh;
}
