.mainContainer {
  width: 100%;
  display: flex;
  justify-content: space-between;
  margin: 1vh;
  margin-top: 1.5vh;
}


.infoCard{
  background-color: #ffffff;
  padding: 2vh 1.8vw;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-between;
  border-radius: 1.5vh;
} 

.infoCard2{
  width: 44.5%;
} 

.infoCard3{
 padding: 0vh 1.8vw;
 height: 9vh;
} 

.logoImage {
  height: 3.4vh;
  background-color: #69C28F;
  padding: 0.8vh 0.65vw;
  border-radius: 0.5vh;
}

.infoTitle{
  color: #212121;
  font-size: 2.7vh;
  text-transform: uppercase;
  width:6%;
}

.infoCard2 .infoTitle{
  width:48%;
}

.infoCard3 .infoTitle {
  font-size: 2vh;
}

.infoOutdoorCard .infoTitle{
  width:40%;
  padding: 1vh 0vw;
}


.infoValue{
  font-size: 5.5vh;
  color: black;
  padding-top: 0vh;
  padding-right: 2vw;
  width:35%;
  text-align: right;
}

.infoCard3 .infoValue {
  font-size: 4vh;
}


.infoOutdoorValue{
  width: 40%;
}


.infoCard2 .infoValue {
  padding-right: 1vw;
}

.infoValue span{
  font-size:  1.6vh;
  text-transform: uppercase;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.infoValue span:nth-child(2){
  padding-top: 1vh;
}

.infoValue span div{
  font-size:  2.6vh;
}
