.mainContainer {
  display: flex;
  padding: 8vh 3.7vw;
  padding-right: 3.6vw;
  padding-top: 17.5vh;
  padding-bottom: 2vh;
  flex-direction: column;
}

.mainContainer3{
  padding-top: 14vh;
}

.mainContainerOutdoor{
  padding-top: 12.5vh;
  padding-left: 1vw;
  padding-right: 1.2vw;
}
