.wrapper {
  padding: 4vh 3vw;
  padding-right: 4vw;
  background: linear-gradient(180deg, #31B099 0%, #69C28F 100%);
  min-height: 90vh;
}

.spinnerContainer{
  min-height: fit-content !important;
  height: 89.9vh;
  width: 93%;
  display: flex;
  justify-content: center;
  align-items: center;
  color: #ffffff;
}