.mainContainer {
  width: 100%;
  display: flex;
  justify-content: space-between;
  margin-top: 2.35vh;
  margin-left: 0.4vw;
}


.column1,.column2,.column3,.column4{
  display: flex;
  width: 100%;
}

.column12{
justify-content: space-between;
}

.column13{
  width: 49.25%;
  flex-direction: column;
  justify-content: space-between;
  height: 35.6vh;
}

.column14{
  width: 32%;
}

.column16{
  width: 23%;
}

.childContainer1,.childContainer2,.childContainer3,.childContainer4{
  display: flex;
  width: 100%;
  height: 24.5vh;
}

.childContainer12{
  width: 48.7%;
}

.childContainer13{
  height: 16vh;
  
}

.column2{
  width: 48.25%;
  height: 40vh;
}

.column21{
  width: 32%;
}

.column24{
  width: 23%;
}

.column28{
  flex-direction: column;
  justify-content: space-between;
  height: 35.6vh;
}

.childContainer2{
  height: 35.6vh;
}

.column3{
  width: 32%;
  height: 35.6vh;
}

.column34{
  width: 23%;
}

.column32{
  flex-direction: column;
  justify-content: space-between;
}

.childContainer3{
  height: 50vh;
}

.childContainer32{
  height: 16vh;
}

.column4{
  width: 23%;
}

.column42{
  height: 35.6vh;
}


.childContainer4{
  height: 35.6vh;
}


.childContainer42,.childContainer28{
  height: 16vh;
}


